[data-bs-theme="dark"] .table-dark {
    --bs-table-bg: #090909 !important;
    --bs-table-color: var(--bs-body-color) !important;
}

.navbar[data-bs-theme="dark"]  {
    --bs-dark-rgb: 9, 9, 9;
}

.offcanvas {
    --bs-offcanvas-width: 425px;
}

.accordion-button:not(.collapsed) {
    color: inherit;
}

.bi-twitch {
    color: #9146FF;
}

.bi-youtube {
    color: #FF0000;
}

.badge.buddy {
    animation: buddy-badge-fade-in ease-in .2s;
}
@keyframes buddy-badge-fade-in {
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

i.buddy {
    cursor: pointer;
    transition: color .3s;
}

i.buddy:not(.buddy-active):hover {
    color: var(--bs-success-text-emphasis);
    transition: color .3s;
}

i.buddy-active {
    color: var(--bs-success-text-emphasis);
    transition: color .3s;
}

i.buddy-active:hover {
    color: var(--bs-white);
    transition: color .3s;
}

table tr.bot td {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), 0.5);
}
