[data-bs-theme="dark"] .table-dark {
    --bs-table-bg: #090909 !important;
    --bs-table-color: var(--bs-body-color) !important;
}

.navbar[data-bs-theme="dark"]  {
    --bs-dark-rgb: 9, 9, 9;
}

.accordion-button:not(.collapsed) {
    color: inherit;
}

.bi-twitch {
    color: #9146FF;
}

.bi-youtube {
    color: #FF0000;
}
